form {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #444;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
  background-color: #e1e9f3;
}

input:focus {
  border-color: #27ae60;
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
  outline: none;
}

small {
  color: red;
  display: block;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #27ae60; 
  color: rgb(7, 6, 6);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  transition: background 0.3s, transform 0.2s;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.back-button {
  all:unset;
  display: block;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  color: #ffffff;
  font-size: 22px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  max-width: 300px;
  font-weight: bold;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.back-button:hover {
  background: linear-gradient(135deg, #1a252f, #2c3e50);
  transform: scale(1.05);
}
