h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  
}
form {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin: 100px auto; 
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
  background-color: #e1e9f3;
}

input:focus {
  border-color: #27ae60;
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
  outline: none;;
}

small {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #27ae60; 
  color: rgb(7, 6, 6);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  transition: background 0.3s, transform 0.2s;
}

button:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #219150;
  transform: scale(1.05);
}


@media (max-width: 600px) {
  form {
      width: 90%;
      padding: 15px;
  }
  
  input {
      font-size: 14px;
  }
  
  button {
      font-size: 16px;
  }
}
