h2 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 45px;
}

p {
  font-size: 18px;
  color: #34495e;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 500px;
}

p strong {
  color: #2c3e50;
}

@media (max-width: 600px) {
  p {
      font-size: 16px;
      padding: 10px;
  }
}
