:host {
  display: block;
  width: 100%;
  height: 100vh;
  background: url('https://cdn.pixabay.com/photo/2015/05/23/16/15/pen-780737_1280.jpg') no-repeat center center;
  background-size: cover;
  color: #333;
}
