h2 {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 18px;
  margin-top: 45px;
}

p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 1.8;
  color: #ffffff;
  text-align: justify;
}

strong {
  color: #319fe8;
}


.about-container {
  padding: 50px;
  text-align:start;
}


@media (max-width: 600px) {
  p {
      font-size: 14px;
      padding: 0 15px;
  }
}
