
.sign-in-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fcfcfc; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}


.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #34495e;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

input:focus {
  border-color: #27ae60;
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
  outline: none;
}


.error {
  color: #de321f;
  font-size: 14px;
  margin-top: 5px;
}


button {
  width: 100%;
  padding: 12px;
  background-color: #27ae60; 
  color: rgb(7, 6, 6);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background-color: #219150;
  transform: scale(1.05);
}

button:disabled {
  background-color: #b6d3fa;
  cursor: not-allowed;
}

@media (max-width: 500px) {
  .sign-in-container {
      width: 90%;
      padding: 15px;
  }
}
