<app-search-filter (search)="onSearch($event)"></app-search-filter>

<div class="container mt-4">
    <h2>Product List</h2>
    <button class="back-button" routerLink="/inventory/add-product">➕ Add New Product</button>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
        <div class="col" *ngFor="let product of filteredProducts">
            <div class="card product-card h-100" (click)="viewProduct(product.id)">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <button class="btn btn-outline-warning btn-sm" (click)="editProduct(product.id, $event)">
                        ✏️
                    </button>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteProduct(product.id, $event)">
                        🗑️
                    </button>
                </div>
            </div>
        </div>
    </div>

 
</div>
