footer {
  background-color:#160C28;
  ;
  color: white;
  text-align: center;
  padding: 18px 0;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}


@media (max-width: 768px) {
  footer {
      font-size: 14px;
      padding: 10px 0;
  }
}
